<div id="view-injection">
  <div class="help">
    ?
  </div>
  <div class="wrapper" id="welcome-wrapper">
    <h1>Partnr</h1>
    <p>Get seriously creative.</p>
    <div class="button-wrapper wrapper">
      <div class="btn btn-lg btn-primary" id="signup-btn">
        Sign Up
      </div>

      <%= form_for(:user, :url => session_path(:user), :html => { :class => 'form', :id => 'login-form' }) do |f| %>
        <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>
        <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
      <% end %>

      <%= form_for(:user, :url => registration_path(:user), :html => { :class => 'form', :id => 'signup-form' }) do |f| %>
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'First Name' %>
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Last Name' %>
        <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>
        <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
      <% end %>
      <div class="btn btn-lg btn-default" id="login-btn">
        Login
      </div>
    </div>
    <div class="btn btn-lg btn-info" id="submit-btn">
      Submit
    </div>
  </div>
</div>
